/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-validation {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #78b596;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-flex-box {
    display: flex;
    flex-direction: column;
}

.user-name01,
.user-email01,
.user-text01 {
    margin-bottom: 20px;
}

.input-name,
.input-email,
.input-text {
    width: 100%;
    padding: 15px;
    border: 2px outset #e4ede8;
    border-radius: 5px;
}

.input-name::placeholder,
.input-email::placeholder,
.input-text::placeholder {
    color: #999;
}

.contact-form-button {
    padding: 10px 20px;
    background-color: #a9dfc1;
    color: cadetblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.contact-form-button:hover {
    background-color: #dbebdb;
    color: #033003;
}

/* Validation styles */
.u-name,
.u-mail,
.u-text {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.contact-form-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.c-map {
    width: 50%;
    padding-top: 120px;
}

.flex-bg {
    display: flex;
    flex-wrap: wrap;
}

.contact-form-content {
    width: 100%;
    max-width: 526px;
}

.contact-form-title {
    width: 100%;
    padding: 0 24px;
}

.c-map iframe {
    width: 100%;
    height: calc(100% - 11%);
}

@media only screen and (max-width: 767px) {
    .contact-form-box {
        flex-wrap: wrap;
        width: 100%;
    }

    .c-map {
        padding: 0;
        width: 100%;
        height: auto;
    }

    .contact-form-title {
        width: 100%;
        margin: auto;
        margin-top: 30px;
        padding: 0 12px;
    }

    .contact-form-content {
        width: 100%;
        max-width: 100%;
    }

    h1.main-title {
        font-size: 24px !important;
    }

    .form-validation {
        margin: 25px auto;
        max-width: 100%;
    }

    .contact-form-button,
    .contact-map {
        width: 100%;
    }

    .c-map iframe {
        width: 100%;
        height: auto;
    }

    .flex-bg {
        gap: 25px;
    }
}